[2016-01-10 13:07] shekhargulati opened #1 "Feedback: Week 1 Finatra Blog"
Please provide your feedback by adding a new comment

[2016-01-10 13:07] shekhargulati opened #2 "Feedback: Week 2 sbt blog"
Please provide your feedback by posting a comment against this issue.

[2016-01-11 04:35] kamchy opened #3 "Typo in "first week" REST tutorial"
Instead of "we first checks whether we user exists" there should probably be "we first check whether the user exists".

[2016-01-11 07:34] #3 closed, assigned to nobody

[2016-01-11 07:34] shekhargulati commented on #3
@kamchy thanks. i have updated the blog. Feel free to send PR as well.

[2016-01-13 00:50] soc commented on #2
Hi Shekhar,

I really like your introduction to SBT!
I'm working on a fork of scala-lang.org, which focuses on being more beginner-friendly. (http://get-scala.org) and I wonder whether you might contribute your introduction as a starting point for an SBT page?

You will be credited as the author. The existing license of the scala-lang repo seems to be revised-BSD – would it be acceptable to licens

[2016-01-16 12:33] shekhargulati commented on #2
@soc I don't mind get-scala.org using my content as the starting point. What I don't want is in future if I use my content say in a book then it violates get-scala.org license?

[2016-01-16 17:56] soc commented on #2
@shekhargulati No no no! You of course keep your copyright, it's still your content! Giving a license for the get-scala site doesn't prevent you from doing whatever you want with your content in the future! :-)

[2016-01-17 09:35] shekhargulati commented on #2
@soc cool. I would be happy to contribute my blog. Thanks :)

[2016-01-17 16:41] shekhargulati opened #5 "Feedback: Week 3 Stanford CoreNLP blog"
Please provide your feedback by posting a comment against this issue.

[2016-01-17 18:52] szahn commented on #5
Great post. What if we could easily tell if any article is positive or negative? I love the idea of adding sentiment to articles so you could easily tell if its first, highly emotional/opinionated and second, what that emotional bias is. I can see Facebook adding sentiment analysis to the news feed.

[2016-01-17 23:56] zzztimbo commented on #1
Could you write a similar blog post for Finch?

[2016-01-18 03:00] shekhargulati commented on #1
@zzztimbo Yes I might cover it. I am planning to cover various Twitter's Scala projects. Finch looks like a good topic to learn and write.

[2016-01-24 14:54] shekhargulati opened #6 "Feedback: Week 4 Slick"
Please provide your feedback by posting a comment against this issue.

[2016-01-25 06:38] tylerjharden commented on #5
Interesting post, I wouldn't say great compared to the other reading content you put up, but I appreciate the time. I think what would have made it more valuable is if you dove into the Stanford NLP framework itself a little more. Explaining the annotations, showing some of the feedback and values you get back, etc.

Definitely a solid primer, however.

[2016-01-25 06:50] shekhargulati commented on #5
@tylerjharden actually I was working on slick post that day but blog was not shaping up well. So, I decided to write about Stanford CoreNLP with few hours left in the day. I agree I didn't covered Stanford CoreNLP in detail. Will definitely clean it up and make it better. Thanks for honest feedback. Also, I would be more than happy to accept PR if you are willing to add few sections and details :)

[2016-01-25 09:49] tylerjharden commented on #5
@shekhargulati If I knew anything about it, I'd be more than happy to. If I get the time I will gladly contribute, I like your model here.

[2016-01-25 11:49] s6o commented on #5
Interestingly changing "Dhoni" to "John" changes the sentiment from NEGATIVE to NEUTRAL
The sentence in the test: "Dhoni laments bowling, fielding errors in series loss"
I'm not a native english speaker so perhaps I'm missing something here ...

[2016-01-27 12:02] dozaza commented on #1
@shekhargulati Hi, Could you please tell me some differences between finatra and other frameworks, such as play?

[2016-01-30 19:00] mariussoutier commented on #5
Too bad sentient analysis only works for English.

[2016-01-31 16:28] shekhargulati opened #7 "Feedback: Week 5 Slick"
Please provide your feedback by posting a comment against this issue.

[2016-02-01 19:42] josep2 commented on #2
Enjoy your posts, thanks for them. Would it be possible to show how to use SBT for a package hosted on Github?

[2016-02-02 04:37] shekhargulati commented on #2
@josep2 thanks for your feedback. I will add a tip for this.

[2016-02-02 09:27] yadavan88 commented on #2
Your SBT blog is one of the easiest one I have read about sbt. I was having many confusions before, even though I have been working on scala for over a year. Can you also give brief details on how to build sbt plugins as well.?

[2016-02-02 16:05] shekhargulati commented on #2
@yadavan88 Glad you found it useful. I will add a section on writing SBT plugins.

[2016-02-07 15:55] shekhargulati opened #8 "Feedback: Week 6 OkHttp"
Please provide your feedback by posting a comment against this issue.

[2016-02-14 14:28] shekhargulati opened #10 "Feedback: Week 7 Hugo"
Please provide your feedback by posting a comment against this issue.

[2016-02-14 19:57] llcawthorne commented on #6
I'm trying to follow along, but it can't seem to find my implicit conversions.  I checked out the github repo, and get the same errors when trying `sbt compile` against your copy:

[code]

I can compile Part 5 from the github repo, so it must be different somehow there.  I'll see what's up with it when I get to it, but for now, I just got rid of the implicit conversions and used Timestamp and Stri

[2016-02-14 20:39] llcawthorne commented on #6
Small issue.  The blogpost part doesn't describe the beforeEach method that you've implemented in the code example to recreate the database for each test.  As it is written, following along leads to having four entries in the database when you run the test to insert 3 items.  If you try to re-run it, then the database isn't created yet.

Seems easy enough to fix by looking at the code example with

[2016-02-15 02:02] Ashalah commented on #10
I don't think you provided a copy of good-to-great.jpg in the tutorial.

[2016-02-15 03:22] shekhargulati commented on #10
@Ashalah images are in the static directory inside the bookshelf https://github.com/shekhargulati/52-technologies-in-2016/tree/master/07-hugo/bookshelf/static/images. The problem was to do with the `baseurl` I mentioned in `config.toml`. I have pushed the changes. Just pull the changes and you should be able to work.

[2016-02-15 03:30] Ashalah commented on #10
@shekhargulati thanks! I already finished before I commented; just copied that one image from your website.

[2016-02-15 03:48] shekhargulati commented on #6
@llcawthorne thanks for the feedback. Below I have replied to your comments.
1. The code was not compiling because I had to explicitly set the column mapper in the column definition https://github.com/shekhargulati/52-technologies-in-2016/blob/master/04-slick/tasky/src/main/scala/datamodel/DataModel.scala#L25. I have pushed the changes so code should now compile fine and tests should pass.
2. I wi

[2016-02-22 17:11] shekhargulati opened #11 "Feedback: Week 8 CoreOS"
Please provide your feedback by posting a comment against this issue.

[2016-02-22 21:43] brianredbeard commented on #11
CoreOS isn't built on ChromeOS.  They both use the same SDK, but technically Gentoo is the upstream.  CoreOS maintains their own [eBuilds](https://github.com/coreos/coreos-overlay) and keeps a [portage mirror](https://github.com/coreos/portage-stable) on GitHub.

[2016-02-23 16:49] shekhargulati commented on #11
thanks @brianredbeard I will make the changes.

[2016-02-28 17:03] shekhargulati opened #12 "Feedback: Week 9 Google Cloud Vision"
Please provide your feedback by posting a comment against this issue.

[2016-03-06 13:44] shekhargulati opened #13 "Feedback: Week 10 Gatling"
Please provide your feedback by posting a comment against this issue.

[2016-03-09 10:29] coniurare commented on #13
Thanks for the article. Didn't know gatling yet, which looks interesting. A comparison against [wrk](https://github.com/wg/wrk) would have been interesting.

[2016-03-11 07:50] llarsson commented on #11
That `journalctl` command you write in the end only happens to work by lucky accident. Had `fleet` scheduled the unit onto another machine, you would not be able to access it via `journalctl`, which only works on the local host.

`fleetctl journal -f hello.service` would work, regardless of where the unit has been scheduled.

The divide between what is operating locally (`systemd` and `journalctl`

[2016-03-16 04:18] shekhargulati opened #15 "Feedback: Week 11 TextBlob"
Please provide your feedback by posting a comment against this issue.

[2016-03-17 06:30] milapbhojak commented on #12
Awesome one, @shekhargulati Bhaiya :+1:

[2016-03-26 12:43] rai2048iiit opened #16 "Request: Any Deployment system"
Hi,

Can you please cover any machine deployment system i.e. Ansible Playbooks or any other in this series.

Thanks a lot.
Rahul

[2016-03-26 17:33] shekhargulati commented on #16
Sure @rai2048iiit . I was planning to write about Ansible next month.

[2016-03-27 19:05] shekhargulati opened #17 "Feedback: Week 13 ArangoDB"
Please provide your feedback by posting a comment against this issue.

[2016-04-04 02:16] shekhargulati opened #18 "Feedback: Week 14 Apache Kafka"
Please provide your feedback by posting a comment against this issue.

[2016-04-05 04:46] fzakaria commented on #1
I would love a 'prod ready' article on Finatra incuding setting up Zipkin

[2016-04-10 11:08] shekhargulati opened #19 "Week 15: Airline Bot Platform with Huginn"
Please provide your feedback by posting a comment against this issue.

[2016-04-13 17:09] tabboud commented on #10
This is an awesome tutorial for a basic intro to hugo! Also, I love the idea behind a new technology every week, I may try this.

[2016-04-17 21:23] shekhargulati opened #20 "Week 16: Building Your "Read It Later" App using Python and Newspaper Library"
Please provide your feedback by posting a comment against this issue.

[2016-04-23 13:57] bryceandress commented on #20
I am running Arch so my environment is most likely different than others, but I needed to import JSON which was not done in the 3rd step of your guide.

[2016-04-23 14:03] shekhargulati commented on #20
@bryceandress thanks updated.

[2016-04-25 04:16] abacaj commented on #8
Hi, have you considered Vert.x - very stable and well maintained (last commit 9 hrs ago) set of libraries for writing performant and distributed rest APIs and more. It is a Java library but may have  been just as easy to use as okhttp - http://vertx.io

[2016-04-25 04:22] shekhargulati commented on #8
@abacaj I have not looked into vertx.io in-depth yet. I am aware of vertx.io from last few years(when I was working with Red Hat)  but I don't think it has gone mainstream or people use it a lot.  Do you use it?

[2016-04-25 04:36] abacaj commented on #8
I don't use it professionally since we actually use full .net stack, but I did use it for a personal project and found it very intuitive. Their documentation is excellent. It's essentially broken into many libraries, but vertx-web is comparable to a modular asp.net and has support for everything you can think of, the best part you choose what features you need.

Take the following code snippet as

[2016-04-25 04:46] shekhargulati commented on #8
@abacaj yes it certainly looks clean.  I will see if I can fit vertx into my series and probably write about it. Thanks.

[2016-04-25 04:47] abacaj commented on #8
That's good to hear, look forward to reading more from your series. Great work so far.

[2016-04-25 10:11] narlas01 commented on #20
Hi Shekhar,

      Hope you are doing well. I do follow regularly your updates (whatever
relevant to me) under 52 technologies account. I am impressed with your
Gatling notes and felt quite useful. Keep up your good work!!!.

     I am from Load/Performance Testing background, don’t have much grip on
development skills.  Actually I am planning to write a Jenkin plugin to
enable load test scripts(w

[2016-04-25 18:17] lipis opened #21 "Try Python on App Engine"
First of couple of huge projects build on App Engine are [KhanAcademy](https://khan-academy.appspot.com/) and [Snapchat](https://www.snapchat.com/).. :)

You can finish the **Hello, world!** apps within an hour: https://cloud.google.com/appengine/docs/python/

But from there you can try the https://gae-init.appspot.com which is essentially a well structured, tested, optimized and an opiniated fram

[2016-04-25 20:03] shekhargulati commented on #21
@lipis sure I will consider this. I first learnt about GAE in 2008 and at that time I wrote few posts on it. I have not played much with GAE in last few years so surely I can again give it a try. Thanks. I will ask you for any help if you don't mind.

[2016-04-25 20:09] lipis commented on #21
Sure.. you are more than welcome to ask stuff and you can join our [Slack channel](https://gae-init-slack.herokuapp.com/). Since you have only a week for one technology I can _"mentor"_ you :)

[2016-04-25 23:42] shekhargulati opened #22 "Week 17: Let's Learn TypeScript"
Please provide your feedback by posting a comment against this issue.

[2016-05-06 17:45] ankerbachryhl commented on #20
When I am trying to deploy this app to heroku it crashes do you know why? :)

[2016-05-07 06:11] shekhargulati commented on #20
@ankerbachryhl without looking at logs or exception stacktrace how can I tell?

[2016-05-08 11:44] shekhargulati opened #23 "Week 18: Getting Started with Apache Mesos"
Please provide your feedback by posting a comment against this issue.

[2016-05-08 16:51] shekhargulati opened #24 "Week 19: Load testing with bees"
Please provide your feedback by posting a comment against this issue.

[2016-05-22 21:18] shekhargulati opened #25 "Week 20: 5 open source projects that will make working with JSON awesome and fun"
Please provide your feedback by posting a comment against this issue.

[2016-05-23 00:06] alejandronanez opened #26 "Try Immutable :)"

[2016-05-24 22:54] ryantheleach commented on #26
Immutable what?

[2016-05-24 22:59] alejandronanez commented on #26
I'm sorry. Immutable.js from Facebook.

[2016-05-25 09:49] Sudip7 opened #27 "strman : static import issue"
Hi Shekhar,

The other day I was playing with your code for strman: java library but I got some error.
My sole class comprised of main() and static import statement on top. Could you please assist on what went wrong. Is it coz of java version issue, m using java 8.

`error: static import only from classes and interfaces`

Regards
Sudip Nayak

[2016-05-25 10:23] shekhargulati commented on #27
@Sudip7 can you share code via gist or pastebin? There is stackoverflow issue that mentions the issue https://stackoverflow.com/questions/11782076/static-import-only-from-classes-and-interfaces

[2016-05-25 10:36] Sudip7 commented on #27
Please find the source code below:

`import static strman.append;
public class strmanJava {
    public static void main(String args[]){
        System.out.println("testing new java library");

[code]

}`

**Pom.xml**
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="

[2016-05-25 10:46] shekhargulati commented on #27
@Sudip7 sorry its my bad. README.md was incorrect. You have to import `import static strman.Strman.append` as all functions are inside Strman class. Also, if you face any issue can you raise  issues in the library Github project https://github.com/shekhargulati/strman-java

[2016-05-25 11:12] Sudip7 commented on #27
Now it's resolved. Thanks for quick assistance

[2016-05-25 11:12] #27 closed, assigned to nobody

[2016-06-04 10:12] shekhargulati opened #28 "Week 22: Making Sense of Regular Expressions"
Please provide your feedback by posting a comment against this issue.

[2016-06-05 14:35] Paddy3118 commented on #28
In such an example it would be good to have a list of words that are _not_ to be matched or someone could write `'\b\S+\b'`

[2016-06-07 00:16] raghavan20 commented on #2
Very useful introduction to important concepts in Sbt. Thanks

[2016-06-07 20:23] kdkocev commented on #1
Awesome article! Thank you, man!

[2016-06-11 16:17] shekhargulati opened #29 "Week 23: Building an Android Application Part 1"
Please provide your feedback by posting a comment against this issue.

[2016-06-12 11:37] shekhargulati opened #30 "Week 24: Moving back to WordPress from Jekyll"
Please provide your feedback by posting a comment against this issue.

[2016-06-19 19:41] shekhargulati opened #31 "Week 25: Trello Clone with Angular Dragulla"
Please provide your feedback by posting a comment against this issue.

[2016-06-26 11:22] shekhargulati opened #32 "Week 26: Building an Android Application Part 2"
Please provide your feedback by posting a comment against this issue.

[2016-06-26 23:19] MrHeart commented on #29
Very wonderful tutorial.  It was so helpful to me especially.   But it will be better if you can be specific on the class to select during the class auto-import (ALT + ENTER).   Whereas I was lucky with other imports, it wasn't so with the Matrix class in the `createScaledBitmap` method in MainActivity.java. There are two varieties of it and selecting the wrong one made a huge difference. Meanwhil

[2016-06-27 04:33] chainkite commented on #31
When I follow your tutorial to step 4.
I got this:

[code]

[2016-06-27 05:10] shekhargulati commented on #31
@chainkite as per the error message `index.module.js` has illegal import statement. Can you share content of `index.module.js` file?

[2016-06-27 06:10] chainkite commented on #31
[code]

Same from the tutorial. It seems dont know what is `import`. I am not quite familiar with javascript.

[2016-06-27 06:31] shekhargulati commented on #31
@chainkite I think it is because you didn't selected `ES6 (Babel formerly 6to5), ECMAScript 6 compiled with Babel which requires no runtime.` as answer to `Which JS preprocessor do you want?` question. This question is asked when you run `yo gulp-angular` command as shown in the image. I missed this in the tutorial.
![screen shot 2016-06-27 at 12 02 20 pm](https://cloud.githubusercontent.com/asset

[2016-06-27 06:51] chainkite commented on #31
I see, thanks a lot.
BTW, this step is missing in the tutorial.

Is it possible to make the change of `.yo-rc.json` effective instead of regenerate the project?

[2016-06-27 07:24] shekhargulati commented on #29
@MrHeart thanks for your feedback. Can you send me PR with suggested changes?

[2016-06-28 16:33] MrHeart commented on #29
@shekhargulati ok.  I'll do that and send to you. Thanks

[2016-06-28 16:53] shekhargulati commented on #29
@MrHeart 👍 . Looking forward to the PR

[2016-06-28 17:55] natchiketa commented on #31
@shekhargulati I am absolutely in _love_ with the way you've set up this repo as a blog. The more I look at how it all works—Issues used as threads for a post, the repo home showing all the posts, subdirectories with the README as the post, plus containing any relevant source.

You could even have someone do a "guest post" submitted as a PR :)

Before I run off and gush about this, I'm curious—did

[2016-06-29 01:44] batla commented on #2
Excellent introduction. Very helpful!

[2016-06-29 02:47] shekhargulati commented on #31
@natchiketa thanks for your comment. I am just a normal guy. In 2013, I wrote 30 technologies in 30 days https://blog.openshift.com/learning-30-technologies-in-30-days-a-developer-challenge/. From then I am thinking to do something like that again. There were couple of lessons I learnt after that series:
1.  I wanted it to write it as an open source project so people can contribute. Also, license

[2016-06-29 17:06] tonidy commented on #13
Never heard before about gatling. Agreed, comparison with wrk is good idea.

[2016-06-30 12:20] exu commented on #13
@coniurare @tonidy rather it could be compared to full-fledged tool like http://locust.io/. wrk, ab, boom, vegeta are IMO a lot simplier.

[2016-06-30 12:26] shekhargulati commented on #13
@coniurare @tonidy @exu I have not used wrk or locust.io. If any of you guys have some experience with them we can add a section. You can send me PR -:)

[2016-07-07 11:28] shekhargulati opened #36 "Week 27: Learn GoLang For Great Good Part 1"
Please provide your feedback by posting a comment against this issue.

[2016-07-08 06:02] thewhitetulip commented on #36
I have written an example based book to teach intro to writing web apps in Go, https://github.com/thewhitetulip/web-dev-golang-anti-textbook/

[2016-07-08 06:08] shekhargulati commented on #36
@thewhitetulip thanks for sharing the link. This month I am working on Go programming language. Would you like to contribute a Go web programming post to this project?

[2016-07-08 06:11] thewhitetulip commented on #36
Sure, if you want you can copy paste the content of the book directly and link it to the book

[2016-07-08 06:14] shekhargulati commented on #36
@thewhitetulip thanks for copy paste offer :) . Actually, I will not like to do that as then your book will have two source of truth. If you have time, can you create a small post based out of your book? We will add a link to your book on the blog. This way people will go to your book to read in detail.

[2016-07-08 06:21] thewhitetulip commented on #36
Yes, post won't be a problem. How do you want the post to be? how long, what contents?

[2016-07-08 06:58] shekhargulati commented on #36
@thewhitetulip I will write a doc explaining how people can contribute and send you the link.

[2016-07-08 07:00] thewhitetulip commented on #36
Okay, meanwhile I'll write a small post about how to write webapps too

[2016-07-10 06:05] rahul0208 opened #37 "Week 28 : Ionic mobile app"

[2016-07-10 06:05] rahul0208 commented on #37
Please provide your feedback by posting a comment against this issue.

[2016-07-12 14:28] munendrasn commented on #2
Hi,
In tips, for cross compiler platform
is it `otherScalaVersions` or `crossScalaVersions`??
Using `otherScalaVersions`gave an error
I'm using sbt 0.13.11

[2016-07-12 20:31] shekhargulati commented on #2
Thanks @munendrasn for feedback. You are right it should be `crossScalaVersions`. I have fixed the blog. Cheers.

[2016-07-13 05:37] exu commented on #36
Hi, I'm missing a lot in Learn Golang, Go has some important advantages like tooling (go command), really powerfull testing (with great benchmarking), concurrency is really easy great with use of channels. Object model is really great with structs, you can do nice things with it. Whole network programming is quite easy with Go. Marshaling and unmarshaling data.  and really many many more. Feel fre

[2016-07-13 05:56] shekhargulati commented on #36
@exu I have only written part 1 of Golang. I am working on second post and possibly write 5 posts on Golang. There will be 2 posts contributed by community as well. So, I am expecting in a month or two we will have good coverage. Do you like to contribute a post to this series?

[2016-07-15 11:48] rominirani opened #40 "Week 29 : Golang + GitHub Status API + Slack Notifications"

[2016-07-15 11:48] rominirani commented on #40
Please provide your feedback by posting a comment against this issue.

[2016-07-17 14:48] shekhargulati opened #42 "Week 29: Unit testing in Go"
Please provide your feedback by posting a comment against this issue.

[2016-07-22 13:52] munendrasn commented on #1
@shekhargulati , Awesome blog.
I'm new to Finatra, your blog is really helping me in getting familiar with Finatra.
I searched internet to learn about integrating/rendering html files for Finatra Apps.
I couldn't get any good resource.
Do you have any resources for the same??
Could share those resource links here??

Thank you in advance

[2016-07-28 08:00] Juraj-Masiar commented on #2
Just one minor mistake: "To run the test you can execute the run task." -> you mean `test` task, right?
Anyway very good introduction.
It would be nice to see also more about sub-projects and more complicated tasks. Something like a task for restoring production database backup in your local environment (or other things you usually have to do manually).
Thanks and have a nice day.

[2016-08-07 08:42] shekhargulati opened #43 "Week 30: Dropwizard"
Please provide your feedback by posting a comment against this issue.

[2016-08-07 08:43] shekhargulati opened #44 "Week 31: 50 Gradle tips"
Please provide your feedback by posting a comment against this issue.

[2016-08-07 18:05] shekhargulati opened #45 "Week 32: Groovy AST Transformations By Example"
Please provide your feedback by posting a comment against this issue.

[2016-08-09 11:08] tianqig commented on #12
Very interesting introduction to Google Cloud Vision, thanks, @shekhargulati

Wonder if there are online demos for face detection so people can just drop an image, then face detection result would be detected/outlined?

[2016-08-17 02:37] yunfan opened #46 "can you add any relevant project of other languages?"
sorry to bore you. but your idea is so great , just like the origin guys who has made awesome list , and then many language version has been created by people all from the world

i think your project has that potention too, the only problem is scala is not my language, my prefered were python and clojure. i am hoping there're any projects like yours in python or clojure

[2016-08-17 02:53] shekhargulati commented on #46
@yunfan I also expected that people would do similar projects in different languages. But problem is that do something like this requires more than just a collection of things. I have never liked awesome lists because they don't teach you or show you the path.

The project is not only about Scala I have also covered Go and Python. Can you submit one post on Clojure? Would love to add clojure to th

[2016-08-17 05:30] yunfan commented on #46
@shekhargulati will try to submit when i found awesome python or clojure projects. and yes i agree with you that learning path is very important.

so why not we use a tree like infograph to show viewer such informations?

[2016-08-22 19:59] shekhargulati opened #47 "Week 34: AWS Lambda"
Please provide your feedback by posting a comment against this issue.

[2016-09-01 20:47] swaroopch commented on #47
Very useful. Thank you for this writeup.

One thing that I was looking for was whether the api creation / deployment of lambda could be automated, and it looks like it can via the [AWS CLI](https://aws.amazon.com/cli/). Obviously, it's easier via the UI for the first time / as a tutorial.

[2016-09-05 02:36] orsenthil commented on #47
Good write-up.  I liked your clear explanation of AWS lambda usefulness.
The thing to note is, the traditional way of having the API end-point with the web service running on a server is now abstracted away and provided to you by Amazon.

[2016-09-05 14:16] shekhargulati opened #48 "Week 36: webpack"
Please provide your feedback by posting a comment against this issue.

[2016-09-05 16:33] pgoergler commented on #48
Great can't wait for the next part

[2016-09-05 17:02] btsuhako commented on #48
Great guide! What's the reason for using [underscore](http://underscorejs.org) over [lodash](https://lodash.com)?

[2016-09-05 17:13] shekhargulati commented on #48
Thanks guys. @btsuhako there is no reason as such. I had used underscore before so I used it. I could have used lodash as well.

[2016-09-05 23:33] mhudgins commented on #48
Loved your writeup, Shekhar. I addressed some of the grammar issues in https://github.com/shekhargulati/52-technologies-in-2016/pull/49

Keep up the awesome work 👏

[2016-09-06 03:21] shekhargulati commented on #48
@mhudgins thanks a lot.

[2016-09-06 04:31] GabLeRoux commented on #48
Great tutorial and easy to follow. I like how you explain what webpack tries to solve before going deeper. I remember reading many comments on Webpack's website where people were confused and didn't seem to understand how and why it's different from grunt/gulp + bower :)

The sourcemap section in the documentation isn't very clear, I'm glad to see you provided a very simple example using it.

[2016-09-06 09:12] swapneeldesai commented on #48
Great blog. Thanks Shekhar. The official Webpack documentation is still a mess. I am currently using [Brunch](http://brunch.io/)

[2016-09-06 14:13] arrunks commented on #48
Good explanation with the web pack.
Keep it up.

[2016-09-07 10:38] jaeko44 opened #51 "Request for topic: Aurelia"
Probably the best Front-End framework to date, have enjoyed using it and it is extremely powerful while being super simple.

[2016-09-07 22:40] timwis commented on #19
Interesting write-up! As I read about it though, it didn't sound too different from writing an application to track bags and send notifications. It seemed like the real difference was instead of creating a record in a "travelling bags" table in a database, you're creating a couple Huginn agents. Do you feel like there are other advantages to thinking of these workflows as "bots?"

[2016-09-08 08:47] jodosha opened #53 "Request for topic: Hanami"
Hanami is a new, full featured and fast web framework for Ruby. It's a lightweight alternative to Rails.

You can find a detailed Getting Started guide here: http://hanamirb.org/guides/getting-started/

Disclaimer: I'm the author of the framework.

[2016-09-08 09:01] shekhargulati commented on #53
@jodosha thanks for your comment. Would you like to write a guest post for 52-tech series about your framework? I would love to see your contribution.

[2016-09-08 11:59] jodosha commented on #53
@shekhargulati Is it fine with you if I adapt that Getting Started guide for the purpose?

[2016-09-08 13:38] shekhargulati commented on #53
@jodosha yeah that would be fine. Just send me a PR :)

[2016-09-08 16:11] shekhargulati commented on #51
@jaeko44 thanks for your comment. Can you write a post on Aurelia? My next few week topics are finalised. I would love to see your contribution.

[2016-09-08 16:28] VivekKumarNeu commented on #28
Great post. Keep them coming :)

[2016-09-11 20:57] shekhargulati opened #55 "Week 37: Spring Boot with Scala"
Please provide your feedback by posting a comment against this issue.

[2016-09-12 13:05] haidaraM commented on #15
The link to in the main Readme is not correct. It should be https://github.com/shekhargulati/52-technologies-in-2016/tree/master/11-textblob

[2016-09-12 14:13] shekhargulati commented on #15
@haidaraM thanks for letting me know. Github recently changed the way it resolve paths leading to this issue. All URLs are fixed now. Thanks a lot.

[2016-09-12 14:25] haidaraM commented on #15
👍

[2016-09-13 12:35] congnd commented on #48
thanks for great tutorial.

[2016-09-13 15:52] da-liii commented on #55
What I see in the current post is just a simple spring boot app in scala. However I am curious about the pros and cons using spring boot with scala. Can we use it in production? Or what's the main problem it will bring?

[2016-09-13 16:04] shekhargulati commented on #55
@sadhen you raised a valid point. This is a toy application. I am working on a real application and wanted to write about that. I couldn't finish it so decided to postpone that post. I will update this post with my learning and understanding in couple of weeks.  Thanks for your comment.

[2016-09-14 00:32] dimafeng commented on #55
@sadhen here's my experience with this stack http://dimafeng.com/2016/01/02/scala-spring/
So far we built 4 applications with the same approach and all of them are in production.

[2016-09-14 04:28] jaeko44 commented on #51
Will do so @shekhargulati

[2016-09-14 05:30] shekhargulati commented on #51
@jaeko44 any specific week that you can commit to?

[2016-09-14 05:32] shekhargulati commented on #53
@jodosha when you can submit your post?

[2016-09-16 20:07] nosequeldeebee commented on #40
This is a great post. I've really enjoyed experimenting with the Slack webhook. Some feedback:

In your `raise` function: other than for readability, I don't see an advantage to declaring separate variables for `WebhookURL` and `postParams` when `SlackIncomingWebhookURL` can simply be used in `http.PostForm` and `Sprintf` can be used when json.Marshal-ing the `SlackMessage`.

Also, is there a reas

[2016-09-20 20:26] shekhargulati opened #57 "Week 38: Actor System Termination on JVM Shutdown"
Please provide your feedback by posting a comment against this issue.

[2016-09-23 22:51] jotomo commented on #57
Line 145: `This meant `App1ControlActor` can successfully does not have to wait for JVM to exit.`

Missing `shut down and` between _successfully_ and _does not_

[2016-09-24 02:09] VivekKumarNeu commented on #18
Can I try to contribute to Kafka - week 14 ?

[2016-09-24 07:05] shekhargulati commented on #57
@jotomo thanks. I have incorporated the feedback.

[2016-09-24 07:06] shekhargulati commented on #18
@VivekKumarNeu that would be great. When can I expect the PR?

[2016-09-24 15:04] VivekKumarNeu commented on #18
@shekhargulati I was confirming about it that if I could. I will be getting back to you soon.

[2016-09-24 16:08] shekhargulati commented on #18
@VivekKumarNeu ok.

[2016-09-30 21:55] kulinux commented on #1
Thank you!!.
Takes me a little bit have all configured in intellij but now works.

[2016-10-07 15:16] shekhargulati opened #60 "Week 39: Docker for Java Developers Part 1"
Please provide your feedback by posting a comment against this issue.

[2016-10-10 16:59] soleo commented on #60
When you are building all kinds of docker images, you may end up with a lot of untagged images, volumes. A trick I used in my own projects  is a bash function like this.

[code]

Most of the times, just removing the stopped containers is good enough. But it's nice to have something to clean up locally.

[2016-10-10 17:59] shekhargulati commented on #60
@soleo thanks. I have added it to the blog.

[2016-10-16 14:14] bszwej commented on #57
Hi,
you could have used `sys.addShutdownHook` from `scala.sys` package object which is a nice scala wrapper over java `Runtime.getRuntime.addShutdownHook`.

So basically instead of this:

[code]

you can do this:

[code]

which looks nicer (less boilderplate) ;).

[2016-10-18 04:19] shekhargulati opened #63 "Week 40: Using Docker Containers As Cron Jobs"
Please provide your feedback by posting a comment against this issue.

[2016-10-18 13:37] billyjoker commented on #12
Hi how would you open this project with Android Studio ?

[2016-10-18 15:21] shekhargulati commented on #12
@billyjoker it is a Gradle project so just import it as a Gradle project.

[2016-10-20 12:59] billyjoker commented on #12
@shekhargulati  i opened as a Gradle project but i think there is missing files related with the resources. Please see my attached picture

![cloud tree](https://cloud.githubusercontent.com/assets/4301306/19560695/b8fd2052-96d5-11e6-9d63-be142fa15701.png)

[2016-10-20 17:28] shekhargulati commented on #12
@billyjoker what error are you getting? Looking at this I don't see any issue.

[2016-10-20 19:13] billyjoker commented on #12
@shekhargulati i mean that the project can not be launched (as itself). An android studio project needs a res folder including **layouts** with views in order to have something (interface) to launch to a demo screen. I do not know if the goal of this project is really to be a library project to use in another demo project with an interface.

[2016-10-23 03:45] Sudip7 opened #64 "ssh error while cloning docker repo example"
working on week 39: Docker in my Ubuntu machine. Encountered with an ssh related error. Here are two StackOverflow links to share the similarity.

[http://stackoverflow.com/questions/21255438/permission-denied-publickey-fatal-could-not-read-from-remote-repository-whil](url)
[http://stackoverflow.com/questions/13509293/git-fatal-could-not-read-from-remote-repository](url)

Though I could not find t

[2016-12-04 17:27] shekhargulati opened #67 "Week 41: Understanding Akka Dispatchers"
Please provide your feedback by posting a comment against this issue.

[2016-12-06 12:04] shekhargulati opened #68 "Week 42: Docker Compose with wait-for-it"
Please provide your feedback by posting a comment against this issue.

[2016-12-08 16:23] wojtasskorcz commented on #67
Hi! Thanks for the interesting read! Just one question. You wrote:

"You will notice that all 100 started at almost same time. If you run this with default configuration 24(parallelism-factor*parallelism-min) tasks will be processed in parallel."

Wouldn't this 24 come from `parallelism-factor*number_of_cores`? At least that's how you explained it earlier in the article:

"The number 24 comes from

[2016-12-08 18:42] shekhargulati commented on #67
@wojtasskorcz yes you are right. I typed it wrong. I have fixed it. Thanks.

[2016-12-09 17:05] daihuaye commented on #19
Hi, thank you for the post. I have a question about creating a new agent method: ```create_agent``` , how do you get "AUTHENTICITY_TOKEN" and "COOKIE" for the POST method? Could you provide guidance?

Thank you for your great post again. 👍

[2016-12-12 07:46] shekhargulati commented on #19
@daihuaye I got that via inspecting the request using Chrome dev tools.

[2016-12-12 07:48] shekhargulati commented on #19
@timwis the advantage that I see with bots is that they die(terminate/shutdown/self kill) after doing their job. For tasks like tracking, this looked like a good bot usecase to me.

[2016-12-17 01:48] eyspahn commented on #2
Thank you! I'm learning Scala and was a bit confused about how this sbt thing fit in. This post was super helpful.

[2017-01-17 10:38] marktani opened #73 "Week 43 - GraphQL - building a pokedex in React with GraphQL"
Please provide your feedback by posting a comment in this issue.

[2017-02-01 14:46] JSPolania commented on #2
Great work with your SBT tutorial!

[2017-02-07 10:19] banpie commented on #30
Thanks for your post.
After i import the feed.xml into Wordpress, I find all the post url were replaced by the post tile instead of the url that I set in the yaml.

[2017-02-07 18:03] hmaciasc commented on #23
Nice read, playa-mesos deprecated now, just fyi

[2017-03-13 02:42] KellyEclectica commented on #10
Hi there- I'm learning about Hugo right now and they have your tutorial on their site. I downloaded the Robust theme from the link in your tutorial (I'm on windows so I just went to the url you specified - I also don't know anything about Github so maybe i grabbed the wrong version somehow?)... Later in your tutorial you have some stuff about creating a default footers file... however in the theme

[2017-04-19 23:42] sdp0et commented on #45
This was from a while ago, so I'll post some code snippets to refresh your memory.  I've been wrestling with a problem trying to get a Transform to utilize the default value for the annotation parameters when empty.

`import playground.Hash

        @Hash
        class Foo{
            String msg`
where in Hash:
`String algorithm() default "SHA1";`
the AnnotationNode will have null for .getMember(

[2017-06-09 15:37] dkdubey commented on #2
fantastic. very helpful.

[2017-08-11 20:14] Adminsa1 opened #76 "I am getting 401"
Hi shekhargulati,

I don't know why i am getting (status.find.is(200), but actually found 401) after execution my scripts. could you please help me with this issue.

Below is my Gatling load test results:

[GatlingLoadTest_Results.txt](https://github.com/shekhargulati/52-technologies-in-2016/files/1218962/GatlingLoadTest_Results.txt)

[2017-08-14 02:55] tokiwadai commented on #2
awesome! very simple but covers all the necessary topics. Thanks!

[2017-08-15 10:05] invad0r commented on #2
This tutorial was super helpfull for me grasping SBT.
I liked the follow-along style. Thank you for your work 👍

[2017-09-10 22:21] dpwrussell commented on #2
I wanted to say thanks for this excellent introduction to sbt. Well written and easy to understand!

One thought was that it would have been better to make an example application which didn't use the same nomenclature as sbt. I.e. both have tasks. Wasn't that confusing, but I did have one moment when I had to scroll back up to see if we were talking about the tasky application or how to start writ

[2017-11-04 05:19] vladimirlogachev commented on #2
**Coursera**'s materials refer to this post.
I followed it step by step.
It will be good to update.

## Versions
[code]
[code]
[code]
[code]

## Process
[code]
1. `.lineStream` instead of deprecated`.lines`
2. `Process` easily throws exceptions... `try` makes task better.

Thanks a lot for this post.

[2017-12-06 08:27] RYucel opened #78 "How to count cars in a video or photo?"
First of all tahnk you for this wonderful tut. I wonder how to achieve same thing to count cars in a photo (or objects) via Google vision API ? with new AIY raspberry pi zero tool I would like to use

[2018-01-07 18:28] thebluephantom opened #82 "tutorial"
nice tutorial, except did not work.

Got: notFound: type FlatSpec ...

[2018-01-08 03:23] shekhargulati commented on #82
@thebluephantom which tutorial? Please share more information.

[2018-01-12 12:09] #82 closed, assigned to nobody

[2018-04-15 21:00] fadavidos commented on #67
@shekhargulati Great post. It's easy to understand

[2018-11-17 04:50] da-liii commented on #55
@dimafeng Thanks for your reply. I've learned a lot from your post.

This is my detailed repo for Spring Boot with Scala: https://github.com/sadhen/spring-booted-scala

[2019-02-18 15:52] chien-wei commented on #2
Great post! Thanks a lot!
I use IntelliJ IDEA IDE and have done following the post.
Here is some notes:

In Add Dependencies section, I encountered:
"java.lang.NoClassDefFoundError: scala/Product$class".
It might be the version of scalatest doesn't support the scala version. Try to update the version number.

In sbt shell, we need to use 'sbt /<task_name>' to run the tasks. There is a '/' in here.

[2019-02-19 08:41] kipkosgeik commented on #2
Super grateful for this awesome summary. My 3rd day learning Scala and it's really good when experiences are documented like this so I don't have to spend months discovering by myself!

[2019-04-03 16:57] batchenoz commented on #67
Great post, thanks!

[2019-10-08 05:52] Srikanth-Nalam-510 commented on #2
Thanks a lot for this post. I was looking for something like this to get an overview of SBT. It really helped.

[2021-07-11 11:03] macgrewal commented on #2
Hi Shekhar, it's refreshing to see a blog related to Scala that easy to understand and not loaded with terms that mean little to beginners. I found this blog very easy to read and there are definitely some things that I'm going to use going forward. Thanks, we [the community] needs more blogs like this.